body {
    font-family:Arial, Helvetica, sans-serif;
}

.content {    
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(85, 85, 92);
    border-radius: 5px;
}

.character > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.character > div > span:nth-child(2) {
    color: blue;
    font-weight: 600;
}